name: JD Playwright with Proxy

on:
  schedule:
    - cron: '0 */4 * * *'
  workflow_dispatch:

jobs:
  run-task:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install
        run: |
          pip install playwright requests
          playwright install chromium

      - name: Execute Script
        env:
          # 从 Secrets 获取加密信息
          PROXY_INFO: ${{ secrets.PROXY_INFO }} # Base64 编码后的账号数组
        run: python -u jd_fetch_playwright.py
